absl-py==0.13.0
aiohttp==3.7.4.post0
albumentations==0.4.3
altair==4.1.0
amqp==5.0.6
antlr4-python3-runtime==4.8
argon2-cffi==21.1.0
asgiref==3.3.4
astor==0.8.1
async-timeout==3.0.1
attrs==21.2.0
backcall==0.2.0
backports.zoneinfo==0.2.1
base58==2.1.0
billiard==3.6.4.0
bleach==4.1.0
blinker==1.4
cachetools==4.2.2
celery==5.1.2
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
cycler==0.10.0
dataclasses==0.6
decorator==4.4.2
defusedxml==0.7.1
einops==0.3.0
entrypoints==0.3
fastapi==0.65.2
filelock==3.0.12
fsspec==2021.6.1
ftfy==6.0.3
future==0.18.2
gdown==3.13.0
gitdb==4.0.7
GitPython==3.1.18
google-auth==1.32.0
google-auth-oauthlib==0.4.4
grpcio==1.38.1
h11==0.12.0
idna==2.10
idna-ssl==1.1.0
imageio==2.9.0
imageio-ffmpeg==0.4.2
imgaug==0.2.6
importlib-metadata==4.5.0
ipykernel==5.5.5
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.6.4
jedi==0.18.0
Jinja2==3.0.1
joblib==1.0.1
jsonschema==3.2.0
jupyter-client==7.0.2
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.1
kiwisolver==1.3.1
kombu==5.1.0
kornia==0.5.10
llvmlite==0.36.0
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.3.4
mistune==0.8.4
moviepy==1.0.3
multidict==5.1.0
nbclient==0.5.4
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5.1
noise==1.2.2
notebook==6.4.3
numba==0.53.1
numpy==1.19.5
nvidia-ml-py3==7.352.0
oauthlib==3.1.1
omegaconf==2.1.0
opencv-contrib-python-headless==4.5.3.56
opencv-python-headless==4.5.3.56
packaging==20.9
pandas==1.3.2
pandocfilters==1.4.3
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
proglog==0.1.9
prometheus-client==0.11.0
prompt-toolkit==3.0.19
protobuf==3.17.3
ptyprocess==0.7.0
pudb==2019.2
pyarrow==5.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydantic==1.8.2
pydeck==0.7.0
pyDeprecate==0.3.0
Pygments==2.9.0
pyparsing==2.4.7
pyrsistent==0.18.0
PySocks==1.7.1
python-dateutil==2.8.1
pytorch-lightning==1.3.7
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==22.2.1
redis==3.5.3
regex==2021.4.4
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
sacremoses==0.0.45
scikit-image==0.17.2
scikit-learn==0.24.2
scipy==1.5.4
Send2Trash==1.8.0
six==1.16.0
sklearn==0.0
smmap==4.0.0
starlette==0.14.2
starlette-exporter==0.10.0
streamlit==0.81.1
taming-transformers==0.0.1
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
terminado==0.12.1
test-tube==0.7.5
testpath==0.5.0
threadpoolctl==2.1.0
tifffile==2020.9.3
tokenizers==0.10.3
toml==0.10.2
toolz==0.11.1
torch==1.9.0
torchmetrics==0.3.2
torchvision==0.10.0
tornado==6.1
tqdm==4.61.1
traitlets==4.3.3
transformers==4.3.1
typing-extensions==3.10.0.0
tzlocal==3.0
urllib3==1.26.5
urwid==2.1.2
uvicorn==0.14.0
validators==0.18.2
vine==5.0.0
watchdog==2.1.5
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.1
widgetsnbextension==3.5.1
yarl==1.6.3
zipp==3.4.1
